body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul li {
    padding: 8px 0;
}

.promo i {
    color: #3f51b5;
    font-size: 7em;
    display: block;
}

.promo .promo-caption {
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}