{% load staticfiles i18n %}
<!DOCTYPE HTML>
<html>
<head>
    <title>StudentHome :: {% block title %}{{ request.path }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}"/>
</head>
<body>
<nav class="indigo">
    <div class="nav-wrapper container">
        <ul id="dropdown_profile" class="dropdown-content">
            <li><a>{% trans 'Settings' %}</a></li>
            <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
        </ul>
        {% if user.is_authenticated %}
            <a class="brand-logo">Calslaan 52-3</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'today' %}">{% trans 'Today' %}</a></li>
                <li><a>{% trans 'Cooking' %}</a></li>
                <li><a>{% trans 'Tasks' %}</a></li>
                <li><a>{% trans 'Finance' %}</a></li>
                <li><a class="dropdown-button" href="" data-activates="dropdown_profile">{{ user.get_full_name }}
                    <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a>{{ user.get_full_name }}</a></li>
                <li><a href="{% url 'today' %}">{% trans 'Today' %}</a></li>
                <li><a>{% trans 'Cooking' %}</a></li>
                <li><a>{% trans 'Tasks' %}</a></li>
                <li><a>{% trans 'Finance' %}</a></li>
            </ul>
        {% else %}
            <a class="brand-logo">StudentHome</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
            </ul>
        {% endif %}
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>
<main>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</main>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static 'js/init.js' %}"></script>
</body>
</html>